<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F1911</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RtWlanU1827</string>
	<key>CFBundleGetInfoString</key>
	<string>1827.4.b36.06122019, Copyright © Realtek  (R)</string>
	<key>CFBundleIdentifier</key>
	<string>com.realtek.driver.RtWlanU1827</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1827.4.b36</string>
	<key>CFBundleSignature</key>
	<string>realtek</string>
	<key>CFBundleVersion</key>
	<string>1827.4.b36</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ASUS_USB-N10E_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>6080</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>ASUS_USB-N10_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>6074</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>ASUS_USB-N13_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>6059</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>AboCom_8178_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33144</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>AboCom_8189_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33161</integer>
			<key>idVendor</key>
			<integer>1976</integer>
		</dict>
		<key>Amigo_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>36977</integer>
			<key>idVendor</key>
			<integer>3595</integer>
		</dict>
		<key>AzureWave_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13143</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Belkin_1004_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>4100</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_1102_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>4354</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_2102_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>8450</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_2103_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>8451</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_92DUVS_1105</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4357</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_92DUVS_110A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4362</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin_92DUVS_120A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4618</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Compare-8010_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>32784</integer>
			<key>idVendor</key>
			<integer>52651</integer>
		</dict>
		<key>Compare-8011_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>32785</integer>
			<key>idVendor</key>
			<integer>52651</integer>
		</dict>
		<key>Corega_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>86</integer>
			<key>idVendor</key>
			<integer>1962</integer>
		</dict>
		<key>DLink_DWA121_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13064</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLink_DWA123_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13067</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLink_DWA131B1_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13069</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLink_DWA132_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13063</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLink_DWA133_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13066</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLink_DWA135_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13065</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>ELECOM_WDC300SU2S_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>16393</integer>
			<key>idVendor</key>
			<integer>1390</integer>
		</dict>
		<key>Edimax_7811_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>30737</integer>
			<key>idVendor</key>
			<integer>29586</integer>
		</dict>
		<key>Edimax_7822_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>30754</integer>
			<key>idVendor</key>
			<integer>29586</integer>
		</dict>
		<key>Feixun_90_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>144</integer>
			<key>idVendor</key>
			<integer>18517</integer>
		</dict>
		<key>Feixun_91_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>145</integer>
			<key>idVendor</key>
			<integer>18517</integer>
		</dict>
		<key>HP_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>5673</integer>
			<key>idVendor</key>
			<integer>4156</integer>
		</dict>
		<key>Hawking_HWDN3_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>25</integer>
			<key>idVendor</key>
			<integer>3686</integer>
		</dict>
		<key>Hawking_HWUN4_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>32</integer>
			<key>idVendor</key>
			<integer>3686</integer>
		</dict>
		<key>Hercules_HWUm300_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>57397</integer>
			<key>idVendor</key>
			<integer>1784</integer>
		</dict>
		<key>Hercules_HWUp150_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>57395</integer>
			<key>idVendor</key>
			<integer>1784</integer>
		</dict>
		<key>IO_DATA_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>2380</integer>
			<key>idVendor</key>
			<integer>1211</integer>
		</dict>
		<key>Logitec_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>365</integer>
			<key>idVendor</key>
			<integer>1929</integer>
		</dict>
		<key>Netgear_N300MA_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>61441</integer>
			<key>idVendor</key>
			<integer>2118</integer>
		</dict>
		<key>Netgear_WNA1000M_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>36929</integer>
			<key>idVendor</key>
			<integer>2118</integer>
		</dict>
		<key>Netgear_WNA3100M_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>36897</integer>
			<key>idVendor</key>
			<integer>2118</integer>
		</dict>
		<key>NetweeN_91_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>145</integer>
			<key>idVendor</key>
			<integer>18518</integer>
		</dict>
		<key>PCI_BT-Micro3H2X_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>4609</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_GW_USEco300_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>43819</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_GW_USLight_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>18690</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_GW_USNano2_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>43818</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_GW_USValue_EZ_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>60695</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>PCI_SW_WF02-AD15_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>43822</integer>
			<key>idVendor</key>
			<integer>8217</integer>
		</dict>
		<key>RTL8188CTV</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>394</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CTV_0A8A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>2698</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CTV_8011</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>32785</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33142</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_1E1E</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>7710</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_2E2E</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>11822</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_5088</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>20616</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_Combo</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33147</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_Combo_AFF8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45048</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188CUS_Combo_AFFB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45051</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188CUS_Combo_AFFC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45052</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188CUS_Solo</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33146</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_VL</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33162</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188CUS_solo_AFF7</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45047</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188CUS_solo_AFF9</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45049</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188CUS_solo_AFFA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>45050</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>RTL8188RU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33151</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8188RU_Netcore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>12671</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8192CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33170</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8192CU_8177</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33143</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8192CU_8178</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>33144</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RTL8192DU_VS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>33172</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>Sitecom_WL365_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>82</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA1001v1_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>92</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA2100_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>119</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA2102_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>112</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>Sitecom_WLA4001_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>97</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>TPLink_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>256</integer>
			<key>idVendor</key>
			<integer>907</integer>
		</dict>
		<key>Trendnet_624D_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>25165</integer>
			<key>idVendor</key>
			<integer>8436</integer>
		</dict>
		<key>Trendnet_648BBM_88CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>25740</integer>
			<key>idVendor</key>
			<integer>8436</integer>
		</dict>
		<key>Trendnet_648B_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>25739</integer>
			<key>idVendor</key>
			<integer>8436</integer>
		</dict>
		<key>Trendnet_92DUVS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>26187</integer>
			<key>idVendor</key>
			<integer>8436</integer>
		</dict>
		<key>ZyXEL_92CU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.RtWlanU1827</string>
			<key>IOClass</key>
			<string>RtWlanU1827</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>13343</integer>
			<key>idVendor</key>
			<integer>1414</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
	</dict>
</dict>
</plist>
