<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>Wlan.Software</string>
    <key>Program</key>
    <string>/Library/Application Support/WLAN/StatusBarApp.app/Contents/MacOS/StatusBarApp</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
